__pycache__/
*.py[cod]
*.ipynb_checkpoints
*.npy
build/
dist/
mogptk.egg-info/
examples/test*
examples/experiments
examples/data/smni_eeg/a_1_co2a0000364
examples/data/bramblemet/*.csv
tests/
*.aux
*.fdb_latexmk
*.fls
*.log
*.venv/
